@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>School Library Project</h1>
    <h4>for Web application programming</h4>
    <br /><br />
    <p class="h2"> 
        <span style="font-weight:normal;font-size:large">
            Project is build using ASP.NET Core 5 and Entity Framework.<br />
            I've added 10 books for example. <br />
            For this project <a href="https://api.itbook.store/" target="_blank">itbook.store API</a> was used to GET subtitle and images of books. <br />
            Every user can see Details of each book. <br />
            If you sign up, you can Add new books, Edit or Delete them. <br />
            <b>You might need to change ConnectionStrings in appsettings.json to connect to MySql DB properly. </b>
        </span>
    </p>
</div>
